In [1]:
from scipy import stats
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv( 'hw_25000.csv', names = ['index', 'height_inches', 'weight_pounds'], header = 0 )
data['height'] = data['height_inches'] * 2.54
data.head()

   index  height_inches  weight_pounds      height
0      1       65.78331       112.9925  167.089607
1      2       71.51521       136.4873  181.648633
2      3       69.39874       153.0269  176.272800
3      4       68.21660       142.3354  173.270164
4      5       67.78781       144.2971  172.181037

In [3]:
mask = ( data['height'] > 170.0)
data2 = data.loc[ mask ]
mask1 = (data2['height'] < 180.0)
data3 = data2.loc[ mask1 ]
data4 = data3.sort_values( by = 'height', ascending = False ).reset_index()
data4.head()

   level_0  index  height_inches  weight_pounds      height
0    11147  11148       70.86609       144.0689  179.999869
1    23379  23380       70.86568       118.6469  179.998827
2    24271  24272       70.86470       148.6468  179.996338
3    21312  21313       70.86344       143.7688  179.993138
4    18197  18198       70.86215       127.6207  179.989861

In [4]:
#создаем массив, куда будут помещаться p-значения
significant = []

In [5]:
# т.к. формирование малой выборки происходит случайным образом, проводим ряд испытаний, что бы выяснить в скольки случаях 
# малая выборка статистически значима
for i in range(100000):
    dataSelected = data4.loc[list( np.random.randint( 0, 16140, 20 )), ['weight_pounds', 'height']]
    Selected = dataSelected['weight_pounds'].tolist()
    pvalue = stats.ttest_1samp(Selected, data['weight_pounds'].mean())[1]
    if pvalue < 0.05:
        significant.append(pvalue)
probability_of_significance  = len(significant) / 100000 * 100
print("Выборка № 2 статистически значима в {}% случаев".format(probability_of_significance))

Выборка № 2 статистически значима в 12.17% случаев